body,html{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    background-color: orange;
}
li{
    list-style: none;
    margin:20px;
    background-color: red;
}
menu{
    background-color: yellow;
    margin:0;
    padding: 0;
    display:flex;
}